.footer {
    background-color: var(--primary);
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}