.left__panel {
    /* background-color: blue; */
}

.left__menu {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    height: 72vh;
}

.menu {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 4px;
    background-color: white;
}

.menu:hover {
    background-color: gray;
    color: white;
}

.menu__icon {
    font-size: 40px;
    cursor: pointer;
    width: 40px;
    margin-left: 8px;
    margin-right: 12px;
}

.menu__name {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}